
.thinlink{font-weight: 200;letter-spacing: 3px;}
.Link-with-border{border: 2px solid white;border-radius: 50px;padding:10px;padding-left:15px;padding-right:15px;}
.fitnessbtn{color:white;font-weight: 300;}
.fitnessbtn:hover{background-color: #F39B3B;border-color: #F39B3B;color:black;}
.nutritionbtn:hover{background-color: #81d4fa ;border-color: #81d4fa ;}
.lifebtn:hover{background-color: #e91e63 ;border-color: #e91e63 ;}
.connectbtn:hover{background-color:#ef5350;border-color:#ef5350;}
.logoimg{height:140px;margin-top: 20px;}
.headertext{font-weight: 200;margin-top: 15%;color:orange;margin-bottom: 0px;}
.subheadertext{font-weight: 200;color:white;font-size: 17px;margin-top: 0px;margin-bottom:0px;}
.linebreak{height:2px;background-color:white;border:none;}
.paragraphs{text-align: justify;color:white;max-height:25vh;overflow-y: scroll}


#trx{height:30px;}
#stressfix{height:50px;}
#bosu{height:50px;}
#libfit{height:40px;}
#smile{height:50px;}
#mus{height:40px;}

#trx2{height:20px;}
#stressfix2{height:40px;}
#bosu2{height:40px;}
#libfit2{height:30px;}
#smile2{height:45px;}
#mus2{height:30px;}

#trxHolder{padding-top:10px;padding-left:0px;}
#stressFixHolder{}
#bosuHolder{padding-left:15px;}
#smileholder{padding-left:20px;}
#libfitHolder{padding-left:20px;}
#mus2Holder{}







#index-banner{
  height:100vh;
}


/* label color */
 .input-field label {
   color: #ef5350 ;
 }

 .input-field input[type=text]{
    color:white;
    font-weight: 200;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: white ;

 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid white;
   box-shadow: 0 1px 0 0 #000;
   color:white;
 }

.testText{
  color:white;
}

 @media screen and (min-width:1920px) {
   #maincolumn{
     padding-top: 10%;
   }
   #smileholder{padding-left:150px;}
   .paragraphs{
     max-height:none;overflow-y:none}
   }

 }

 @media only screen and (max-width : 1200px) {
   .testText{
     color:purple;
   }
   .subheadertext{
     font-size: 14px;
   }



   #trxHolder{padding-top:10px;padding-left:0px;}
   #stressFixHolder{}
   #bosuHolder{padding-left:15px;}
   #smileholder{padding-left:20px;}
   #libfitHolder{padding-left:30px;}
   #mus2Holder{}
     #trx2{height:20px;}
     #stressfix2{height:40px;}
     #bosu2{height:40px;}
     #libfit2{height:25px;}
     #smile2{height:45px;}
     #mus2{height:30px;}
 }
 @media only screen and (max-width : 1100px) {
   .testText{
     color:purple;
   }
   .subheadertext{
     font-size: 14px;
   }
   #trxHolder{padding-top:10px;padding-left:0px;}
   #stressFixHolder{}
   #bosuHolder{padding-left:15px;}
   #smileholder{padding-left:20px;}
   #libfitHolder{padding-left:50px;padding-top:5px}
   #mus2Holder{}
     #trx2{height:20px;}
     #stressfix2{height:40px;}
     #bosu2{height:40px;}
     #libfit2{height:23px;}
     #smile2{height:45px;}
     #mus2{height:30px;}
 }

 @media only screen and (max-width : 1000px) {



   .testText{
     color:pink;
   }
   .subheadertext{
     font-size: 14px;
   }
   #trx{height:30px;}
   #stressfix{height:50px;padding-left:15px;}
   #bosu{height:50px;}
   #libfit{height:40px;}
   #smile{height:50px;padding-left:15px;}
   #mus{height:25px;margin-top: 8px;}
 #stressFixHolder{padding-left:20px}
   #index-banner{
     height:100vh;
   }

 }

 @media only screen and (max-width : 900px) {
   .testText{
     color:grey;
   }
   #trxHolder{padding-top:10px;padding-left:0px;}
   #stressFixHolder{padding-left:10px}
   #bosuHolder{padding-left:15px;}
   #smileholder{padding-left:20px;}
   #libfitHolder{padding-left:50px;padding-top:5px}
   #mus2Holder{}
     #trx2{height:16px;}
     #stressfix2{height:40px;}
     #bosu2{height:40px;}
     #libfit2{height:20px;}
     #smile2{height:45px;}
     #mus2{height:25px;}
 }
 @media only screen and (max-width : 860px) {
   .testText{
     color:green;
   }
   .subheadertext{
     font-size: 12px;
   }
   #img_FitPhil{
     height:90vh;
     margin-top:15%;
   }
   #trxHolder{padding-top:10px;padding-left:0px;}
   #stressFixHolder{padding-left:15px}
   #bosuHolder{padding-left:25px;}
   #smileholder{padding-left:20px;}
   #libfitHolder{padding-left:50px;padding-top:5px}
   #mus2Holder{padding-left: 20px}
     #trx2{height:13px;}
     #stressfix2{height:35px;}
     #bosu2{height:30px;}
     #libfit2{height:18px;}
     #mus2{height:20px;}
 }

 @media only screen and (max-width : 720px) {
   .testText{
     color:blue;
   }
   .subheadertext{
     font-size: 11px;
   }
   #trxHolder{padding-top:10px;padding-left:0px;}
   #stressFixHolder{padding-left:20px}
   #bosuHolder{padding-left:35px;}
   #smileholder{padding-left:20px;}
   #libfitHolder{padding-left:50px;padding-top:5px}
   #mus2Holder{padding-left: 30px;padding-top:5px}
     #trx2{height:13px;}
     #smile2{height:40px}
     #stressfix2{height:35px;}
     #bosu2{height:30px;}
     #libfit2{height:14px;}
     #mus2{height:15px;}
 }

@media only screen and (max-width : 600px) {


  .paragraphs{
    max-height:40vh;overflow-y:scroll;
  }
  .testText{
    color:red;
  }
  #trx{height:30px;}
  #stressfix{height:50px;padding-left:15px;}
  #bosu{height:50px;}
  #libfit{height:40px;margin-top:20px}
  #smile{height:50px;padding-left:15px;margin-top:20px}
  #mus{height:25px;margin-top:20px}

  .headertext{
    margin-top:25%;
  }
  #index-banner{
    height:100vh;
  }
  #sponsorRow{

  }
  .sponsorPad{
    margin-top:7%;
  }




}
